@import 'mediawiki.skin.variables.less';

.client-js {
	.reading-lists__errorbox {
		display: none;
	}

	.reading-lists-container {
		.reading-lists-heading {
			display: flex;
			align-items: flex-end;
			gap: @spacing-50;
		}

		.reading-lists-sort-text {
			font-size: @font-size-small;
			font-weight: @font-weight-normal;
			color: @color-placeholder;
			margin-left: @spacing-50;
		}

		.reading-lists-toolbar {
			display: flex;
			gap: @spacing-50;
			margin-top: @spacing-50;
		}

		.reading-lists-remove {
			margin-left: auto;
		}

		.reading-lists-selectable {
			display: flex;
			align-items: center;

			.cdx-checkbox {
				margin-right: @spacing-50;
			}
		}

		.cdx-menu__listbox,
		.cdx-menu__group {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}

		.cdx-menu__group__item {
			margin-bottom: @spacing-12;
		}

		.cdx-progress-bar {
			width: 50%;
			margin-top: @spacing-200;
			margin-left: auto;
			margin-right: auto;
		}
	}

	.reading-lists-grid {
		display: grid;
		grid-auto-rows: 1fr;
		gap: @spacing-100;
		margin-top: @spacing-200;

		@media only screen and ( min-width: @min-width-breakpoint-tablet ) {
			grid-template-columns: repeat( 3, 1fr );
		}

		+ .cdx-button {
			display: block;
			margin-top: @spacing-200;
			margin-left: auto;
			margin-right: auto;
		}

		.cdx-card {
			flex-direction: row;
			overflow: hidden;
			align-items: stretch;
		}

		// Apply necessary specificity to set thumbnail size.
		.cdx-card__thumbnail.cdx-thumbnail .cdx-thumbnail__image {
			width: @size-full;
			height: @size-full;
			aspect-ratio: 1;
			border-width: 0 @border-width-base 0 0;
		}

		.cdx-card__text {
			height: 100%;
			overflow: hidden;
		}

		.cdx-card__text__title,
		.cdx-card__text__description {
			display: -webkit-box;
			-webkit-box-orient: vertical;
			overflow: hidden;
		}

		.cdx-card__text__title {
			font-size: @font-size-medium;
			-webkit-line-clamp: 1;
		}

		.cdx-card__text__description {
			font-size: @font-size-small;
			margin-top: 0;
			-webkit-line-clamp: 2;
		}

		.cdx-card__text__supporting-text {
			font-size: @font-size-x-small;
			margin-top: auto;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		.cdx-card--is-link {
			cursor: pointer;
		}
	}

	.reading-lists-empty {
		max-width: @size-2400;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}

	// An `<h2>` element, for semantic structure, but styled differently from Vector.
	.reading-lists-empty__title {
		margin-top: @spacing-300;
		margin-bottom: 0;
		padding: 0;
		border: 0;
		font-family: @font-family-base;
		font-size: @font-size-medium;
		font-weight: @font-weight-bold;

		&::before {
			display: block;
			content: url( ../assets/list-empty-state.svg );
			margin: 0 auto;
		}
	}

	.reading-lists-empty__description {
		margin-top: @spacing-150;
	}

	.reading-lists-play-store,
	.reading-lists-app-store {
		display: inline-block;
		background-image: url( ../assets/sprite.svg );
		background-repeat: no-repeat;
	}

	.reading-lists-play-store {
		background-position: 0 -591px;
		width: 124px;
		height: 38px;
	}

	.reading-lists-app-store {
		background-position: 0 -629px;
		width: 110px;
		height: 38px;
	}
}

.reading-lists-anonymized-previews .reading-lists-container > * {
	/* stylelint-disable-next-line declaration-no-important */
	display: none !important;
}
