@import 'mediawiki.skin.variables.less';

.client-js {
	.reading-lists__errorbox {
		display: none;
	}

	.reading-lists-container {
		.reading-lists-heading {
			display: flex;
			align-items: flex-end;
			gap: @spacing-50;
		}

		.reading-lists-sort-text {
			font-size: @font-size-small;
			font-weight: @font-weight-normal;
			color: @color-subtle;
			margin-left: @spacing-50;
		}

		.reading-lists-toolbar {
			display: flex;
			gap: @spacing-50;
			margin-top: @spacing-50;
		}

		.reading-lists-remove {
			margin-left: auto;
		}

		.reading-lists-selectable {
			display: flex;
			align-items: center;

			.cdx-checkbox {
				margin-right: @spacing-50;
			}
		}

		.cdx-menu__listbox,
		.cdx-menu__group {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}

		.cdx-menu__group__item {
			margin-bottom: @spacing-12;
		}

		.cdx-progress-bar {
			width: @size-half;
			margin-top: @spacing-200;
			margin-left: auto;
			margin-right: auto;
		}
	}

	.reading-lists-grid {
		display: grid;
		grid-auto-rows: 1fr;
		// Auto-fit to fill the row with as many columns as possible.
		// Minimum width of a column is `@size-1600` (16rem equal to 256px).
		grid-template-columns: repeat( auto-fit, minmax( @size-1600, 1fr ) );
		gap: @spacing-100;
		margin-top: @spacing-200;

		+ .cdx-button {
			display: block;
			margin-top: @spacing-200;
			margin-left: auto;
			margin-right: auto;
		}

		.cdx-card {
			flex-direction: row;
			align-items: stretch;
			// Set 0 padding to flush thumbnails and instead use padding on text container.
			padding: 0;
			overflow: hidden;
		}

		.cdx-card__thumbnail {
			min-width: @size-800;
			min-height: @size-800;
			margin-right: 0;
		}

		// Apply necessary specificity to set thumbnail size.
		.cdx-card__thumbnail.cdx-thumbnail .cdx-thumbnail__placeholder,
		.cdx-card__thumbnail.cdx-thumbnail .cdx-thumbnail__image {
			width: @size-full;
			height: @size-full;
			aspect-ratio: 1;
			border-width: 0 @border-width-base 0 0;
		}

		.cdx-icon--medium {
			min-width: 50px;
			min-height: 50px;
		}

		.cdx-card__text {
			height: @size-full;
			padding: @spacing-50 @spacing-75;
			overflow: hidden;
		}

		.cdx-card__text__title,
		.cdx-card__text__description {
			// Contradictory to its name, non standards conforming `-webkit-box` value is supported
			// across all major browsers.
			display: -webkit-box;
			overflow: hidden;
		}

		.cdx-card__text__title {
			font-family: @font-family-serif;
			font-size: @font-size-xx-large;
			font-weight: @font-weight-normal;
			line-height: @line-height-xx-large;
		}

		.cdx-card__text__description {
			color: @color-subtle;
			font-size: @font-size-small;
			line-height: @line-height-x-small;
			// Contain text to a given amount of lines when used in combination with
			// `display: -webkit-box`. It will end with ellipsis when
			// `text-overflow: ellipsis` is included.
			-webkit-line-clamp: 2;
		}

		.cdx-card__text__supporting-text {
			color: @color-subtle;
			font-size: @font-size-small;
			line-height: @line-height-x-small;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}

	.reading-lists-empty {
		max-width: @size-2400;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}

	// An `<h2>` element, for semantic structure, but styled differently from Vector.
	.reading-lists-empty__title {
		margin-top: @spacing-300;
		margin-bottom: 0;
		padding: 0;
		border: 0;
		font-family: @font-family-base;
		font-size: @font-size-medium;
		font-weight: @font-weight-bold;

		&::before {
			display: block;
			content: url( ../assets/list-empty-state.svg );
			margin: 0 auto;
		}
	}

	.reading-lists-empty__description {
		margin-top: @spacing-150;
	}

	.reading-lists-play-store,
	.reading-lists-app-store {
		display: inline-block;
		background-image: url( ../assets/sprite.svg );
		background-repeat: no-repeat;
	}

	.reading-lists-play-store {
		background-position: 0 -591px;
		width: 124px;
		height: 38px;
	}

	.reading-lists-app-store {
		background-position: 0 -629px;
		width: 110px;
		height: 38px;
	}
}

.reading-lists-anonymized-previews .reading-lists-container > * {
	/* stylelint-disable-next-line declaration-no-important */
	display: none !important;
}
