.reading-lists-play-store,
.reading-lists-app-store {
	display: inline-block;
	background-image: url( ../assets/sprite.svg );
	background-repeat: no-repeat;
}

.reading-lists-play-store {
	background-position: 0 -591px;
	width: 124px;
	height: 38px;
}

.reading-lists-app-store {
	background-position: 0 -629px;
	width: 110px;
	height: 38px;
}

.reading-lists-anonymized-previews .reading-lists-container > * {
	/* stylelint-disable-next-line declaration-no-important */
	display: none !important;
}
